.places {
    margin: 92px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}

@media screen and (max-width: 680px) {
    .places {
        row-gap: 50px;
    }
}

@media screen and (min-width: 680px) and (max-width: 880px) {
    .places {
        row-gap: 73px;
    }
}