.cover__subtitle {
  max-width: 360px;
  margin: 32px auto 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  z-index: 1;
  color: #ffffff;
}

@media screen and (max-width: 525px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 16px auto 0 auto;
    font-size: 14px;
    line-height: 16px;
  }
}
