.footer {
  max-width: 1184px;
  margin: 92px auto 0;
  padding: 0 0 24px 0;
  min-height: 18px;
  display: grid;
  grid-template:
    "links copyright"
    / 1fr 1fr;

  grid-gap: 18px;
}

@media screen and (min-width: 1024px) and (max-width: 1184px) {
  .footer {
    margin: 92px 48px 0 48px;
  }
}

@media screen and (min-width: 721px) and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    margin: 64px 16px 0 16px;
    grid-template:
      "links"
      "copyright";
    row-gap: 32px;
  }
}
